*{
    margin:0;
    padding: 0;
}
body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1000px;
    background-color:paleturquoise;
    margin: 0 auto;
    padding: 10px;
}
header{

}
.profile-image{
    height: 120px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: black;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
      text-decoration: none;
      color: teal;
      font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: thistle;
}
.div-clear{
    clear: both;
}
hr{
    border:  solid black 3px;
    width: 100%;
    margin: 30px auto;
    border-bottom: none;
}

/*---------------
personal section start
-----------------*/

#personal-section{

}
.content{
    margin-bottom: 30px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    color: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 5px auto;
}

/*---------------
Education section start
-----------------*/

.edu-template-left{
    float: left;
    width: 45%;
}

.edu-template-right{
    float: right;
    width: 45%;
}

/*---------------
Footer Section Start
-----------------*/

.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}

.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.bottom-container p{
    color: white;
    margin-top: 20px;
}